html, body, #page-wrapper {
    height: 100%;
}

.selected {
    background-color: #ffffff;
}

body {
    background-color: #f8f8f8;
}

a {
    cursor: pointer;
    cursor: hand;
}

.display-error {
    display: none;
}

.navbar-top-link .navbar-top-link-text {
    position: relative;
    left: 7px;
}

#top-nav-bar {
    margin: 0;
}

#lensseen-navbar-collapse {

}

.sidebar #side-menu li a i {
    padding-right: 10px;
    padding-left: 10px;
}

.sidebar #side-menu li ul li {
    border: none;
    padding: 0;

}

.sidebar #side-menu li ul {

}

.navbar-second-level li a {
    padding-left: 25px;
}

#side-menu li {
    border-bottom: 1px solid #e7e7e7;
    margin-right: -3px;
}

.navbar-second-level li {
    border: none;
}

.sidebar div {
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    .sidebar {
        position: absolute;
        width: 250px;
        z-index: 1;
        margin-top: 51px;
        margin-left: -18px;
        margin-right: 0;
    }
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;

}

@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0px 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

#contact-table thead {
    border-bottom: 5px solid #ddd;
}

.pagination li a.selected{
    background-color: #d9d9d9;
}